*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@font-face {
    font-family: gilroy;
    src: url('../fonts/Gilroy.ttf') format('truetype');
}

@font-face {
    font-family: gilroyBolder;
    src: url('../fonts/gilroyBolder.ttf') format('truetype');
}

@font-face {
    font-family: gilroyBold;
    src: url('../fonts/gilroyBold.ttf') format('truetype');
}

@font-face {
    font-family: gilroyMedium;
    src: url('../fonts/gilroyMedium.ttf') format('truetype');
}

@font-face {
    font-family: gilroyBoldest;
    src: url('../fonts/gilroyBoldest.ttf') format('truetype');
}
@font-face {
    font-family: gilroyThin;
    src: url('../fonts/gilroyThin.ttf') format('truetype');
}
@font-face {
    font-family: gilroyLight;
    src: url('../fonts/gilroyLight.ttf') format('truetype');
}

.profile_wrapper{
    background-attachment: fixed;
    background-color: #1e1e28;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.profile_main_container{
    display: flex;
    width: 101.75rem;
    height: 100vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

#profile_back_btn{
    all: initial;
    position: absolute;
    right: 4rem;
    top: 3rem;
    z-index: 1;
}

.profile_upper_half{
    width: 50.75rem;
    height: 26.4375rem;
    display: flex;
    margin: 0 auto;
    border-radius: 2rem;
    gap: 1rem;
}

.profile_upper_left{
    width: 24.875rem;
    height: 100%;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.profile_image_sec{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

#profile_pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.profile_upper_right{
    width: 24.875rem;
    height: 100%;
    border-radius: 0.5rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

#profile_user_id_sec{
    display: flex;
    font-size: 2rem;
    font-family: gilroyBold;
    color: #1E1E28;
    background-color: #F7D56F;
    height: 5rem;
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 2rem;
    align-items: center;
    justify-content: center;
}
#profile_about_user_sec{
    height: 17.125rem;
    width: 100%;
    background-color: #F2B500;
    font-size: 1.25rem;
    color: #212121;
    padding: 1.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    overflow-y: auto;
    font-family: gilroyBold;
    line-height: 1.5rem;
}

.profile_btns{
    margin-top: 0.5rem;
    height: 3.8125rem;
    width: 100%;
    border-radius: 0.5rem;
    border-bottom-right-radius: 2rem;
    display: flex;
    gap: 0.5rem;

}

#share_profile_btn{
    all: initial;
    display: flex;
    width: 12.1875rem;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    font-family: gilroyBold;
    background-color: #F7D56F;
    font-size: 1.5rem;
    color: #1E1E28;
    cursor: pointer;
    transition: all 0.3s;
    border: solid 4px transparent;
    position: relative;
    z-index: 1;
}

#share_profile_btn::before {
    content: "";
    border-radius: 0.3rem;
    position: absolute;
    background-color: #212121;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: center;
    transition: all 0.5s;
}

#share_profile_btn:hover::before {
    transform: scaleX(1);
}

#share_profile_btn:hover {
    border: solid 4px #F2B500;
    color: #f2f2f2;
}

#edit_profile_btn{
    all: initial;
    display: flex;
    width: 12.1875rem;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border-bottom-right-radius: 2rem;
    font-family: gilroyBold;
    background-color: #F7D56F;
    font-size: 1.5rem;
    color: #1E1E28;
    cursor: pointer;
    transition: all 0.3s;
    border: solid 4px transparent;
    position: relative;
    z-index: 1;
}

#edit_profile_btn::before {
    content: "";
    border-radius: 0.3rem;
    border-bottom-right-radius: 1.9rem;
    position: absolute;
    background-color: #212121;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: center;
    transition: all 0.5s;
  }

#edit_profile_btn:hover::before {
    transform: scaleX(1);
}

#edit_profile_btn:hover {
    border: solid 4px #F2B500;
    color: #f2f2f2;
}

/* #edit_profile_btn{
    all: initial;
    display: flex;
    width: 12.1875rem;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #F7D56F;
    border-radius: 0.5rem;
    border-bottom-right-radius: 2rem;
    font-size: 1.5rem;
    color: #1E1E28;
    font-family: gilroyBold;
    cursor: pointer;
} */

/* .profile_lower_half{
    width: 100%;
    margin-top: 3rem;

} */    